@import url('https://fonts.googleapis.com/css?family=Quicksand');

html
{
  box-sizing: border-box;
}

*, *:before, *:after
{
  box-sizing: inherit;
}

body
{
  background-color: #262626;
	font-family: 'Quicksand', sans-serif;
	text-align: left;
  color: #ffffff;
	font-size: 24px;
  line-height: 1.5;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

.cover
{
	position: relative;
	overflow: auto;
	margin: 1em auto;
	margin-top: 0;
  margin-bottom: 0;
  height: calc(100vh);
  background-position: center;
	padding: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  justify-content: center;
}

.logo
{
  content: url("/assets/images/logo.png");
  width: 50%;
  height: auto;
  position: absolute;
}

.arrow
{
  content: url("/assets/images/arrow.png");
  width: auto;
  height: 25%;
  position: absolute;
  bottom: 0;
}

.container
{
	position: relative;
	overflow: auto;
	margin: 1em auto;
	margin-top: 0;
  margin-bottom: 0;
	max-width: 50em;
	padding: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
}

@media (max-width: 800px)
{
  .logo
  {
    content: url("/assets/images/mlogo.png");
    width: 50%;
    height: auto;
    position: absolute;
  }
}
