---
layout: meta
---

<body>

		<div style="background-image:url(/assets/images/header.png);" class="cover">
			<div class="container">
				<div class="header">
					<a href="/"><img src = "/assets/images/logo.png" style="width: 100%; height: auto;"></a>
				</div>

				<div class="navigation">
					<ul>
						<li><a href="/">All</a></li>
						<li><a href="http://instagram.com/wavestormed24" target="_blank">Instagram</a></li>
						<li><a href="https://twitter.com/Wavestormed" target="_blank">Twitter</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		{{ content }}
	</div>


	<footer>
		<div class="container" style="background-color: #262626;">
			<ul>
				Copyright © 2018 Jordan Kegler, all rights reserved.
			</ul>
			<ul>
				Website created by <a href="http://yukonw.com/">Yukon Wainczak</a>.
			</ul>
		</div>
	</footer>
</body>
