---
layout: meta
---

<body>
	<div style="background-image:url(/assets/images/header.png);" class="container">
		<div class="header">
			<h1>
				Jordan Kegler
			</h1>
		</div>
		<div class="navigation">
			<ul>
				<li><a href="/">Work</a></li>
				<li><a href="/about.html">About</a></li>
			</ul>
		</div>
	</div>

	{{ content }}

	<div class="container">
		<footer>
			<ul>
				Copyright © 2018 Jordan Kegler, all rights reserved. Website created by <a href="http://yukonw.com/">Yukon Wainczak</a>.
			</ul>
		</footer>
	</div>
</body>
