---
layout: meta
---

<body>

		<div style="background-image:url(/assets/images/header.png);" class="banner">
			<div style="position: absolute; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
				<img src="/assets/images/logo.png" alt="Jordan Kegler">
			</div>
		</div>
		{% if page.url == "/index.html" %}
	{% endif %}

	{{ content }}

	<div class="container">
		<footer>
			<ul>
				Copyright © 2018 Jordan Kegler, all rights reserved. Website created by <a href="http://yukonw.com/">Yukon Wainczak</a>.
			</ul>
		</footer>
	</div>
</body>
